body{

    background-color:rgb(140, 195, 243) ;
    background-image: url(https://t1.pixers.pics/img-c676e9e9/posters-grunge-film-background.jpg?H4sIAAAAAAAAA42PS07FMAxFt9NKae0kza8LeNO3hCpN0kehnygpULF6UkDMkJAHtq_sc3Xhdct2CuDCdoQE6-z9EmCal7LlPoU8f4RKCE6w7ou6VIhl2t9CcmmPVSM60lDOiURJBFN1_27L52rTS_V0HDH3AJm3cT4LrjSXwa0ZGFIFqEEYbYyynnfOdENcmnzYzdvkG4lnh23cHgSv-j9XA0UQo6ejHLXHbtQDY3gKbH4JX1iuNekUu9A_KRUiUVe6I81rVeLu5fqonuOjhj88v2coX3C7gyjeHCgDbi5puN2FppwybgbH0I1TEcNkFJNaKqbQUWGYFchRtsXlE3y7V_SLAQAA);


    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;


}