<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>
    <app-movi-item *ngFor="let movie of movies" [movie]="movie" (deleteMovie)="deleteMovieFromArray($event)" ></app-movi-item>

</body>
</html>


