
<div class="pp">
<div class="card mb-3 cat" style="max-width: 900px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="_movie.image" class="img-fluid rounded-start iim" alt="...">
      </div>
      <div class="col-md-8">

        <button type="button" class="btn btn-danger bb" (click)="delete()">X</button>
        <div class="card-body">
          <h3 class="card-title">🎞{{_movie.title}}</h3>

        
          <p class="card-text">Imported
            Rubber sole
            Under Armour’s mission is to make all athletes better through passion, design and the relentless pursuit of innovation
            Where we started? It all started with an idea to build a superior T-shirt
            The technology behind Under Armour diverse product assortment for men, women and youth is complex, but the program for reaping the benefi</p>
          <p>{{_movie.year}}</p>
          <p>{{_movie.genre}}</p>


            <app-rating-movi [rating]="_movie.rating" class="bc"></app-rating-movi>

        </div>
      </div>
    </div>
  </div>



</div>













