.pp{
/* width: 50%; */
    /* margin: auto; */
    width: 100%;

}
.cat{

    margin: auto;
    width: 100%;
    background-color: #111314;
    color: cornsilk;
}

.bb{

position: relative;
right: -563px;

}
.bc{

    
position: relative;
right: -350px;

}

.iim{

    height: 100%;
    width: 80%;
}